.checkbox {
    position: relative;
    display: block;
    line-height: 20px;
    padding-left: 28px;
}

.checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    background-color: #FFF;
    border-radius: 4px;
}

.checkbox__input::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../image/check.svg");
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.checkbox__input:checked::after {
    opacity: 1;
}

.checkbox__input:focus-visible {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.checkbox__input:hover:not(:disabled) {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-image: url("../image/check-hover.svg");
    background-position: center;
}

.checkbox__input:disabled {
    background-color: #CCC;
}