.footer {
    padding: 50px 0px 40px;
}


.footer__container {
    display: grid;
    gap: 27px;
    grid-template-areas:
        "logo ."
        "copyrigth contacts";
}

.footer__logo {
    grid-area: logo;
}

.footer__copyrigth {
    grid-area: copyrigth;
}


.footer__contacts {
    grid-area: contacts;
    justify-self: end;
    min-width: 180px;
}

.footer_contact:first-child {
    margin-bottom: 8px;
}

.footer__link:hover {
    color: brown;
}

@media (max-width: 1240px) {
    .footer {
        padding: 40px 0px 32px;
    }
}

@media (max-width: 940px) {
    .footer {
        padding: 30px 0 24px;
    }
}

@media (max-width: 690px) {
    .footer {
        padding-top: 20px;
    }

    .footer__container {
        grid-template-areas:
            'logo'
            'copyrigth'
            'contacts';
    }

    .footer__contacts {
        justify-self: start;
    }
}