.hero {
    padding: 60px 0px 50px;
}

.hero__container {
    position: relative;
}

.hero__container::after {
    content: '';
    position: absolute;
    padding: 57px 0;
    width: 412px;
    height: 330px;
    background: url('../image/laptop.png') no-repeat center/contain;
    right: -9px;
    top: 0;
}

.hero__title {
    max-width: 780px;
    font-size: 90px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}